header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.homePage {
  color: black;
  text-decoration: none;
}

.filmTitles {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.filmPage {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.filmInfo {
  flex-basis: 45%;
}
img {
  float: left;
  width: 600px;
  height: auto;
  object-fit: cover;
}
