header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
  padding-bottom: 30px;
}

.homePage {
  color: black;
  display: flex;
  text-decoration: none;
  margin: 0;
  height: 2px;
}

.filmTitles {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.filmPage {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.filmInfo {
  flex-basis: 50%;
  justify-content: space-between;
}
img {
  float: left;
  width: 600px;
  height: auto;
  object-fit: cover;
}
.gif {
  width: 300px;
  height: auto;
}
